body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background: url(../images/R.jfif);
    background-size: cover;
    background-attachment: unset;
}

.title {
    text-align: center;
    margin-top: 250px;
    margin-left: 150px;
    position: absolute;
}