<html>
    <head>
        <title>MeowBook App</title>
        <style>
            .hidden {
                display: none;
                padding: 25px;
                margin-bottom: 50px;
            }

            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;
                width: 100px;
            }

            .container {
                display: flex;
                flex-direction: row;
            }

            .box {
                border: 2px solid red;
                width: 400px;
            }


        </style>
    </head>
    <body>
        <div class="container">
            <div class="box">
                <div id="error" class="hidden">
                    <p style="color: red; font-size: 24px;">Something went wrong!!!</p>
                </div>
                <form id="form">
                    <div>
                    Nombre:
                    <input type="text" id="nombre" name="nombre"/>
                    </div>
                    
                    <div>
                    Apellidos:
                    <input type="text" id="apellidos" name="apellidos"/>
                    </div>

                    <div>
                    Sexo:
                    <input type="text" id="sexo" name="sexo"/>
                    </div>
                    
                    <div>
                    Fecha:
                    
                    <input type="date" id="fecha" name="fecha"/>
                    </div>


                    <div>
                    Pais:
                    <input type="text" id="pais" name="pais"/>
                    </div>

                    <div>
                    Usuario:
                    <input type="email" id="usuario" name="usuario"/>
                    </div>
                    
                    <div>
                    Password:
                    <input type="password" id="password" name="password"/>
                    </div>
                    <input type="submit" value="Create" />
                </form>
            </div>
            <div class="box">
                <ul id="usuarios">
                    {% for usuario in usuarios %}
                        <li>
                            {{usuario.nombre}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <script>
            
    
        
            //Handling submit
            const usuarioInput = document.getElementById('usuario')
            const nombreInput = document.getElementById('nombre');
            const apellidosInput = document.getElementById('apellidos')
            const sexoInput = document.getElementById('sexo')
            const fechaInput = document.getElementById('fecha')
            const paisInput = document.getElementById('pais')
            const passwordInput = document.getElementById('password')

            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                const usuario = usuarioInput.value;
                const nombre = nombreInput.value;
                const apellidos = apellidosInput.value;
                const sexo = sexoInput.value;
                const fecha = fechaInput.value;
                const pais = paisInput.value;
                const password = passwordInput.value;

                fetch('/usuarios/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'usuario': usuario,
                        'nombre': nombre,
                        'apellidos': apellidos,
                        'sexo': sexo,
                        'fecha': fecha,
                        'pais': pais,
                        'password': password
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response) {
                    console.log('response : ', response);
                    return response.json();
                }).then(function(responseJson){
                    console.log('responseJson = ', responseJson);
                    //cadenas
                    const usuario_txt = document.createElement('usuario_txt');
                    const nombre_txt = document.createElement('nombre_txt');
                    const apellidos_txt = document.createElement('apellidos_txt');
                    const sexo_txt = document.createElement('sexo_txt');
                    const fecha_txt = document.createElement('fecha_txt');
                    const pais_txt = document.createElement('pais_txt');
                    const password_txt = document.createElement('password_txt');
                    
                    //crear cadenas de texto
                    usuario_txt.innerHTML = responseJson['usuario_txt']
                    nombre_txt.innerHTML = responseJson['nombre']
                    apellidos_txt.innerHTML = responseJson['apellidos_txt']
                    sexo_txt.innerHTML = responseJson['sexo_txt']
                    fecha_txt.innerHTML = responseJson['fecha_txt']
                    pais_txt.innerHTML = responseJson['pais_txt']
                    password_txt.innerHTML = responseJson['password_txt']

                    //concatenar
                    document.getElementById('usuarios').appendChild(usuario_txt); 
                    document.getElementById('usuarios').appendChild(nombre_txt);     
                    document.getElementById('usuarios').appendChild(apellidos_txt);
                    document.getElementById('usuarios').appendChild(sexo_txt);  
                    document.getElementById('usuarios').appendChild(fecha_txt);  
                    document.getElementById('usuarios').appendChild(pais_txt); 
                    document.getElementById('usuarios').appendChild(password_txt);     

                    document.getElementById('error').className = 'hidden';

                    //eliminar casillas
                    document.getElementById('usuario').value = '';
                    document.getElementById('nombre').value = '';
                    document.getElementById('apellidos').value = '';
                    document.getElementById('sexo').value = '';
                    document.getElementById('fecha').value = '';
                    document.getElementById('pais').value = '';
                    document.getElementById('password').value = '';

                }).catch(function() {
                    document.getElementById('error').className = '';
                });
            };
        </script>
    </body>
</html>