<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/cat.png">
    <link rel="stylesheet" href="../static/css/libro.css">
    <title>Añadir libro</title>
</head>

<body>
    
    <div class="portada">
    </div>
    <div class="aside">
        <div class="menu_principal"><a class="link_menu_principal" href="/main_menu">VOLVER AL MENÚ PRINCIPAL</a></div>
    </div>
    <main>
        <div class="flexbox">
        <div class="newbook">
            <div class="box">
                <h1 class="title">Registrar libro</h1>
            </div>
            <form class="form1" id="registroLibro" action="/libro/registrar">
                <div class="box1">
                    <div class="info">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre">
                    </div>
                    <div class="info">
                        <label for="autor">Autor</label>
                        <select required id="autor" name="autor">
                            {%for autor in autores%}
                                <option value="{{autor.nombre_autor}}">{{autor.nombre_autor}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="info">
                        <label for="editorial">Editorial</label>
                        <input type="text" id="editorial" name="editorial" required>
                    </div>
                    <div class="info">
                        <label for="genero">Género</label>
                        <select required id="genero" name="genero">
                            {% for genero in generos%}
                                <option value="{{genero.nombre_genero}}">{{genero.nombre_genero}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="info">
                        <label for="nro_paginas">Páginas</label>
                        <input type="number" min="0" step="1" id="nro_paginas" name="nro_paginas" required>
                    </div>
                    <div class="info">
                        <label for="año_publicacion">Año</label>
                        <input type="date" id="año_publicacion" name="año_publicacion" required>
                    </div>

                    <div class="info">
                        <label for="imagen">Imagen</label>
                        <input type="text" id="imagen" name="imagen" required>
                    </div>
                </div>


                <div class="box2">
                    <label style="font-weight:bold" for="sinopsis">Sinopsis</label><br>
                    <textarea cols="30" rows="10" id="sinopsis" name="sinopsis"></textarea>
                </div>
                


                <div class="botones">
                    <input type="submit" value="Añadir Libro" id="submit">
            </form>
            </div>
        </div> 
            <div class="libros_agregados">
                <ul>
                    {% for libro in libros %}
                        <li> 
                            <h1>{{libro.nombre_libro}}</h1>
                            <p><strong>Autor: </strong>{{libro.autor}}</p>   
                            <p><strong>Editorial:</strong> {{libro.editorial}}</p>      
                            <p><strong>Género: </strong>{{libro.genero}}</p>      
                            <p><strong>Páginas: </strong>{{libro.paginas}}</p>      
                            <p><strong>Fecha de publicación:</strong> {{libro.fecha_publicacion}}</p>      
                            <p><strong>Sinopsis:</strong> {{libro.sinopsis}}</p>   
                            <div><strong>Eliminar libro </strong><button class="delete-button" data-id="{{libro.nombre_libro}}">&cross;</button></div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        
    </main>

    <script>
        const nombreInput = document.getElementById('nombre');
        const autorInput = document.getElementById('autor');
        const editorialInput = document.getElementById('editorial');
        const año_publicacionInput = document.getElementById('año_publicacion');
        const nro_paginasInput = document.getElementById('nro_paginas');
        const generoInput = document.getElementById('genero');
        const sinopsisInput = document.getElementById('sinopsis');
        const imagenInput = document.getElementById('imagen');
        document.getElementById('registroLibro').onsubmit = function(l) {
            l.preventDefault();
            const nombre = nombreInput.value;
            const autor = autorInput.value;
            const editorial = editorialInput.value;
            const año_publicacion = año_publicacionInput.value;
            const nro_paginas = nro_paginasInput.value;
            const genero = generoInput.value;
            const sinopsis = sinopsisInput.value;
            const imagen = imagenInput.value;
            fetch('/libro/registrar', {
                method: 'POST',
                body: JSON.stringify({
                    'nombre': nombre,
                    'autor': autor,
                    'editorial': editorial,
                    'año_publicacion': año_publicacion,
                    'nro_paginas': nro_paginas,
                    'genero': genero,
                    'sinopsis': sinopsis,
                    'imagen': imagen
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
        };

        const items = document.querySelectorAll('.delete-button');
            for (let i = 0; i < items.length; i++) {
                const item = items[i];
                item.onclick = function(e) {
                    console.log("e: ", e);
                    const libro_name = e.target.dataset['id'];
                    fetch('/libros/' + libro_name + '/delete-libro', {
                        method: 'DELETE'
                    }).then(function(response) {
                        return response.json();
                    }).then(function(jsonResponse){
                        if (jsonResponse['success']) {
                            item.remove();
                        }
                    })
                }
            }
    </script>
</body>
</html>