<hmtl>
    <head>
        <title>Librito</title>
    </head>
    <body>
        <h1 style="color: black">Añadir Nuevo Libro</h1>
        <p>Agregar Todos los items</p>
        <form id = "registroLibro" action="/libro/registrar">
            <div>
                <label>
                    <span>Nombre:</span>
                    <input type="text" id="nombre" name="nombre">
                </label>
            </div>
            <div>
                <label>
                    <span>Autor:</span>
                    <input type="text" id="autor" name="autor">
                </label>
            </div>
            <div>
                <label>
                    <span>Editorial:</span>
                    <input type="text" id="editorial" name="editorial">
                </label>
            </div>
            <div>
                <label>
                    <span>Año de Publicacion:</span>
                    <input type="number" id="año_publicacion" name="año_publicacion">
                </label>
            </div>
            <div>
                <label>
                    <span>Número de Páginas:</span>
                    <input type="number" id="nro_paginas" name="nro_paginas">
                </label>
            </div>
            <div>
                <label>
                    <span>Género:</span>
                    <input type="text" id="genero" name="genero">
                </label>
            </div>
            <div>
                <label>
                    <span>Sinopsis:</span>
                    <input type="text" id="sinopsis" name="sinopsis">
                </label>
            </div>
            <div>
                <input type="submit" value="Añadir Libro">
            </div>
        </form>

        <script>
            const nombreInput = document.getElementById('nombre');
            const autorInput = document.getElementById('autor');
            const editorialInput = document.getElementById('editorial');
            const año_publicacionInput = document.getElementById('año_publicacion');
            const nro_paginasInput = document.getElementById('nro_paginas');
            const generoInput = document.getElementById('genero');
            const sinopsisInput = document.getElementById('sinopsis');
            document.getElementById('registroLibro').onsubmit = function(l){
                l.preventDefault();
                const nombre = nombreInput.value;
                const autor = autorInput.value;
                const editorial = editorialInput.value;
                const año_publicacion = año_publicacionInput.value;
                const nro_paginas = nro_paginasInput.value;
                const genero = generoInput.value;
                const sinopsis = sinopsisInput.value;
                fetch('/libro/registrar', {
                    method: 'POST',
                    body: JSON.stringify({
                        'nombre': nombre,
                        'autor': autor,
                        'editorial': editorial,
                        'año_publicacion': año_publicacion,
                        'nro_paginas': nro_paginas,
                        'genero': genero,
                        'sinopsis': sinopsis
                    }),
                    headers: {'Content-Type': 'application/json'}
                });
            };
        </script>
    </body>
</hmtl>
