<!DOCTYPE html>
<html>

<head>
    <title>MeowBook App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='./main.css') }}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    


    <div id="background">
    </div>
    <div class="portada">
    </div>
    <div class="content">
        <div class="bar">
            <a class="login">
                Log in
            </a>
            <a class="signin">
                Sign in
            </a>
        </div>
        <div class="title">
            <h1>MeowBook</h1>
        </div>
        <form class="nav" id="searchForm">
            <input class="barra" type="text" maxlength="200" name="q" id="searchFieldx" value="" placeholder="Buscar por título, autor, ISBN, editor, md5..">
            <input type="submit" value="Buscar" class="button">
        </form>
        <input id="prueba" type="submit" value="NADA">
        <div class="books" id="books">
            <h1 class="populares">Los libros más populares</h1>
            <div class="container">

                {% for libro in libros %}
                <a target="_blank " value ="{{libro.nombre_libro}}" id="editar" ><img class="book "   src="{{libro.imagen}}"></a>
                {% endfor %}
                
            </div>
        </div>
        <a href="./editarlibro">Editar Libro</a>
        <div class="container" id="ra">
            <div class="container">

                
               
                
                
            </div>
        </div>
        

    </div>
    <script>

            

            const searchFieldxInput = document.getElementById('searchFieldx');
            document.getElementById('searchForm').onsubmit = function(l){
                l.preventDefault();
                const searchFieldx = searchFieldxInput.value;
                
                fetch('/libro/busqueda', {
                    method: 'POST',
                    body: JSON.stringify({
                        'searchFieldx': searchFieldx
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
            }).then(function (response) {
                console.log('response : ', response);
                
                return response.json();
            }).then(function(responseJson){
                console.log('responseJson = ', responseJson);

                //document.getElementById('prueba').value = length(responseJson);
                valor = 0
                responseJson.forEach(function(i) {
                    valor = valor +1
                });
                document.getElementById('books').className = 'hidden';

                
                for (let i = 0; i < valor; i++) {
                    //const img = document.createElement("img");
                    //img.src = "https://lenguajejs.com/assets/logo.svg";
                    //img.alt = "Logo Javascript";
                    //document.getElementsByClassName('container').appendChild(img);
                    //document.body.appendChild(img);
                    
                    //const div = document.createElement("div")  
                    //div.textContent = responseJson[i][0];
                    //const app = document.querySelector("#ra");
                    //app.insertAdjacentElement("afterbegin", div);


                    const img = document.createElement("img")
                    img.src = responseJson[i][7];
                    img.className = "book"
                    img.title = responseJson[i][0]
                    img.id = "delete"

                    const appimg = document.querySelector("#ra");
                    appimg.insertAdjacentElement("afterbegin", img);

                    

                }

            }).catch(function() {
                
            });
        };
        
    </script>
    


</body>
</hmtl>
