<!DOCTYPE html>
<html>

<head>
    <title>MeowBook App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./main.css">
</head>

<body>

    <div class="portada">
    </div>
    <div class="content">
        <div class="bar">
            <a class="login">
                Log in
            </a>
            <a class="signin">
                Sign in
            </a>
        </div>
        <div class="title">
            <h1>MeowBook</h1>
        </div>
        <div class="nav" id="searchForm">
            <input class="barra" type="text" maxlength="200" name="q" id="searchFieldx" value="" placeholder="Buscar por título, autor, ISBN, editor, md5..">
            <button class="submit" type="submit"><span>buscar</span></button>
        </div>
        <div class="books">
            <h1 class="populares">Los libros más populares</h1>
            <div class="container">

                <a href="https://www.actualidadliteratura.com/el-club-de-la-lucha/" target="_blank"><img class="book" id="elClubDeLaLucha" src="./Imagen1.jpg"></a>
                <a href="https://www.lecturalia.com/libro/14742/el-filo-de-la-navaja#:~:text=Un%20hombre%2C%20Larry%20Darrel%2C%20mira,el%20mundo%20de%20las%20finanzas." target=" _blank "><img class="book " src="./Imagen2.jpg "></a>
                <a href="https://www.centrobibliotecario.cl/index.php/2019/03/19/el-elefante-desaparece-resena/#:~:text=Un%20hombre%20obsesionado%20con%20la,de%20personajes%20con%20expectativas%20extra%C3%B1as" target="_blank "><img class="book " src="./Imagen3.jpg "></a>

                <a target="_blank "><img class="book " src="./Imagen4.jpg "></a>
                <a target="_blank "> <img class="book " src="./Imagen5.jpg "></a>
                <a target="_blank "><img class="book " src="./Imagen6.jpg "></a>

                <a target="_blank "><img class="book " src="./Imagen7.jpg "></a>
                <a target="_blank "><img class="book " src="./Imagen8.jpg "></a>
                <a target="_blank "><img class="book " src="./Imagen9.jpg "></a>
                <a target="_blank "><img class="book " src="./Imagen10.jpg "></a>
            </div>
        </div>
    </div>

    <script>
        const nombreInput = document.getElementById('nombre');
        const autorInput = document.getElementById('autor');
        const editorialInput = document.getElementById('editorial');
        const año_publicacionInput = document.getElementById('año_publicacion');
        const nro_paginasInput = document.getElementById('nro_paginas');
        const generoInput = document.getElementById('genero');
        const sinopsisInput = document.getElementById('sinopsis');
        document.getElementById('registroLibro').onsubmit = function(l) {
            l.preventDefault();
            const nombre = nombreInput.value;
            const autor = autorInput.value;
            const editorial = editorialInput.value;
            const año_publicacion = año_publicacionInput.value;
            const nro_paginas = nro_paginasInput.value;
            const genero = generoInput.value;
            const sinopsis = sinopsisInput.value;
            fetch('/libro/registrar', {
                method: 'POST',
                body: JSON.stringify({
                    'nombre': nombre,
                    'autor': autor,
                    'editorial': editorial,
                    'año_publicacion': año_publicacion,
                    'nro_paginas': nro_paginas,
                    'genero': genero,
                    'sinopsis': sinopsis
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
        };
    </script>
</body>
</hmtl>