<!DOCTYPE html>
<html>

<head>
    <title>MeowBook App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/cat.png">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div id="background">
    </div>
    <div class="portada">
    </div>
    <div class="content">
        <div class="title">
            <h1>MeowBook</h1>
        </div>

        <div class="nav" id="searchForm">
            <input class="barra" type="text" maxlength="200" name="q" id="searchFieldx" value="" placeholder="Buscar por título o autor">
            <button class="submit" type="submit"><span>buscar</span></button>
        </div>

        <form class="options">
            <div class="option">
                <label for="editorial">Editorial:</label>
                <input class="option-input" type="text" id="editorial" name="editorial">
            </div>
            <div class="option">
                <label for="año_publicacion">Año de Publicacion:</label>
                <select class="option-input" id="year" name="year">
                    <option value="Accion" disabled selected>--Desde--</option>
                    <option value="Accion">2000</option>
                    <option value="Ficcion">1990</option>
                    <option value="Drama">1980</option>
                    <option value="Ficcion">1970</option>
                    <option value="Drama">1960</option>
                    <option value="Comedia">1950</option>
                    <option value="Accion">1940</option>
                    <option value="Ficcion">1930</option>
                    <option value="Drama">1920</option>
                    <option value="Comedia">1910</option>
                    <option value="Accion">1900</option>
                    </select>
            </div>
            <div class="option">
                <label for="nro_paginas">Número de Páginas:</label><br>
                <select class="option-input" id="min" name="min">
                    <option value="Accion" disabled selected>--mín--</option>
                    <option value="Accion">50</option>
                    <option value="Ficcion">100</option>
                    <option value="Drama">200</option>
                    <option value="Ficcion">300</option>
                    <option value="Drama">400</option>
                    <option value="Comedia">500</option>
                    <option value="Accion">600</option>
                    <option value="Ficcion">650</option>
                    <option value="Drama">700</option>
                    <option value="Comedia">750</option>
                    <option value="Accion">800</option>
                    </select>
                <select class="option-input" id="max" name="max">
                        <option value="Accion" disabled selected>--max--</option>
                        <option value="Accion">100</option>
                        <option value="Ficcion">200</option>
                        <option value="Drama">300</option>
                        <option value="Ficcion">400</option>
                        <option value="Drama">500</option>
                        <option value="Comedia">600</option>
                        <option value="Accion">700</option>
                        <option value="Ficcion">800</option>
                        <option value="Drama">900</option>
                        <option value="Comedia">>1000</option>
                        </select>
            </div>
            <div class="option">
                <label for="genero">Género:</label>
                <select class="option-input" id="genero" name="genero">
                    <option value="Accion" disabled selected>--Seleccione un género--</option>
                    <option value="Accion">Acción</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Drama">Drama</option>
                    <option value="Ficcion">Ficción</option>
                    </select>
            </div>
        </form>

        <div class="books">
            <h1 class="populares">Los libros más populares</h1>
            <div class="container">

                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen1.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen2.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen3.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen4.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen5.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen6.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen7.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen8.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen9.jpg"></a>
                <a href="javascript: show()"><img class="book" title="vista previa" src="images/Imagen10.jpg"></a>
            </div>
        </div>
    </div>


    <div id="info">
        <a href="javascript: hide()">
            <img src="images/close.png">
        </a>
    </div>


    <script>
        const nombreInput = document.getElementById('nombre');
        const autorInput = document.getElementById('autor');
        const editorialInput = document.getElementById('editorial');
        const año_publicacionInput = document.getElementById('año_publicacion');
        const nro_paginasInput = document.getElementById('nro_paginas');
        const generoInput = document.getElementById('genero');
        const sinopsisInput = document.getElementById('sinopsis');
        document.getElementById('registroLibro').onsubmit = function(l) {
            l.preventDefault();
            const nombre = nombreInput.value;
            const autor = autorInput.value;
            const editorial = editorialInput.value;
            const año_publicacion = año_publicacionInput.value;
            const nro_paginas = nro_paginasInput.value;
            const genero = generoInput.value;
            const sinopsis = sinopsisInput.value;
            fetch('/libro/registrar', {
                method: 'POST',
                body: JSON.stringify({
                    'nombre': nombre,
                    'autor': autor,
                    'editorial': editorial,
                    'año_publicacion': año_publicacion,
                    'nro_paginas': nro_paginas,
                    'genero': genero,
                    'sinopsis': sinopsis
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
        };

        function show() {
            document.getElementById("background").style.display = "block";
            document.getElementById('info').style.display = "block";
        }

        function hide() {
            document.getElementById("background").style.display = "none";
            document.getElementById('info').style.display = "none";
        }
    </script>
</body>
</hmtl>
