<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./cat.png">
    <link rel="stylesheet" href="{{url_for('static', filename='./registro-styles.css') }}">
    <script src="https://kit.fontawesome.com/7129fcdf94.js" crossorigin="anonymous"></script>
    <title>MeowBook App</title>
</head>
<body>
    <form class="registro" id="form">
        <h1>Registrarse</h1>
        <div class="container">
            <div class="input-container">
                <i class="fa-solid fa-user icon"></i>
                <input id="nombre_usuario" type="text" placeholder="Nombre">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-user icon-hidden"></i>
                <input id="apellido_usuario" type="text" placeholder="Apellido">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-envelope icon"></i>
                <input id="email" type="email" placeholder="Email@">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-user-astronaut icon"></i>
                <input id="usuario" type="text" placeholder="usuario">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-key icon"></i>
                <input id="contraseña" type="password" placeholder="Password">
            </div>
            <input type="submit" value="Sign in" class="button">
            <p>
                ¿Ya eres parte de la familia MeowBook (＾• ω •＾)?
                <a class="link" href=".login">Log in</a>
            </p>
        </div>
    </form>



        <script>
            //Handling submit
            
            const nombre_usuarioInput = document.getElementById('nombre_usuario');
            const apellido_usuarioInput = document.getElementById('apellido_usuario')
            const emailInput = document.getElementById('email')
            const usuarioInput = document.getElementById('usuario')
            const contraseñaInput = document.getElementById('contraseña')
            
            

            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                
                const nombre_usuario = nombre_usuarioInput.value;
                const apellido_usuario = apellido_usuarioInput.value;
                const email = emailInput.value;
                const usuario = usuarioInput.value;
                const contraseña = contraseñaInput.value;

                fetch('/usuario/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        
                        'nombre_usuario': nombre_usuario,
                        'apellido_usuario': apellido_usuario,
                        'email': email,
                        'usuario': usuario,
                        'contraseña': contraseña
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response) {
                    console.log('response : ', response);
                    return response.json();
                }).then(function(responseJson){
                    console.log('responseJson = ', responseJson);
                    //cadenas
                    
                    const nombre_usuario_txt = document.createElement('nombre_usuario_txt');
                    const apellido_usuario_txt = document.createElement('apellido_usuario_txt');
                    const email_txt = document.createElement('email_txt');
                    const usuario_txt = document.createElement('usuario_txt');
                    const contraseña_txt = document.createElement('contraseña_txt');

                    //crear cadenas de texto
                    
                    nombre_usuario_txt.innerHTML = responseJson['nombre_usuario_txt']
                    apellido_usuario_txt.innerHTML = responseJson['apellido_usuario_txt']
                    email_txt.innerHTML = responseJson['email_txt']
                    usuario_txt.innerHTML = responseJson['usuario_txt']
                    contraseña_txt.innerHTML = responseJson['contraseña_txt']

                    //concatenar
                    document.getElementById('usuarios').appendChild(nombre_usuario_txt);   
                    document.getElementById('error').className = 'hidden';

                    //eliminar casillas
                    
                    document.getElementById('nombre_usuario').value = '';
                    document.getElementById('apellido_usuario').value = '';
                    document.getElementById('email').value = '';
                    document.getElementById('usuario').value = '';
                    document.getElementById('contraseña').value = '';

                }).catch(function() {
                    document.getElementById('error').className='className';
                });
            };
        </script>
    </body>
</html> 
