<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/cat.png">
    <link rel="stylesheet" href="{{url_for('static', filename='./libro.css') }}">
    <title>Admin | Añadir libro</title>
</head>

<body>
    <div class="portada">
    </div>
    <main>
        <div class="newbook">

            <div class="box">
                <h1 class="title">Registrar libro</h1>
            </div>
            <form class="form1" id="registroLibro" action="/libro/registrar">
                <div class="box1">
                    <div class="info">
                        <label for="nombre_libro">Nombre</label>
                        <input type="text" id="nombre_libro" name="nombre_libro">
                    </div>
                    <div class="info">
                        <label for="autor">autor</label>
                        <select id="autor" name="autor">
                            {% for autor in autores %}
                                <option>{{autor.nombre_autor}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="info">
                        <label for="editorial">Editorial</label>
                        <input type="text" id="editorial" name="editorial">
                    </div>
                    <div class="info">
                        <label for="nro_paginas">Páginas</label>
                        <input type="number" min="0" step="10" id="nro_paginas" name="nro_paginas">
                    </div>
                    <div class="info">
                        <label for="genero">Género</label>
                        <select id="genero" name="genero">
                            {% for genero in generos %}
                                <option>{{genero.nombre_genero}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="box2">
                        <label style="font-weight:bold" for="sinopsis">Sinopsis</label><br>
                        <textarea cols="30" rows="10" id="sinopsis" name="sinopsis"></textarea>
                    </div>
                    <div class="info">
                        <label for="año_publicacion">Año</label>
                        <input type="number" min="1800" step="10" max="2022" id="año_publicacion" name="año_publicacion">
                    </div>
                </div>
                
                <div class="info">
                    <label for="imagen">imagen:</label>
                    <input type="text" id="imagen" name="imagen">
                </div>
                <div class="botones">
                    <input type="submit" value="Añadir Libro" id="submit">
            </form>

            </div>
        </div>
    </main>

        <script>
            const nombre_libroInput = document.getElementById('nombre_libro');
            const autorInput = document.getElementById('autor');
            const editorialInput = document.getElementById('editorial');
            const año_publicacionInput = document.getElementById('año_publicacion');
            const nro_paginasInput = document.getElementById('nro_paginas');
            const generoInput = document.getElementById('genero');
            const sinopsisInput = document.getElementById('sinopsis');
            const imagenInput = document.getElementById('imagen');

            document.getElementById('registroLibro').onsubmit = function(l){
                l.preventDefault();
                const nombre_libro = nombre_libroInput.value;
                const autor = autorInput.value;
                const editorial = editorialInput.value;
                const año_publicacion = año_publicacionInput.value;
                const nro_paginas = nro_paginasInput.value;
                const genero = generoInput.value;
                const sinopsis = sinopsisInput.value;
                const imagen = imagenInput.value;
                fetch('/libro/registrar', {
                    method: 'POST',
                    body: JSON.stringify({
                        'nombre_libro': nombre_libro,
                        'autor': autor,
                        'editorial': editorial,
                        'año_publicacion': año_publicacion,
                        'nro_paginas': nro_paginas,
                        'genero': genero,
                        'sinopsis': sinopsis,
                        'imagen': imagen
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response) {
                    console.log('response : ', response);
                    return response.json();
                }).then(function(responseJson){
                    console.log('responseJson = ', responseJson);
                    //cadenas
                    
                    const nombre_libro_txt = document.createElement('nombre_libro_txt');
                    const autor_txt = document.createElement('autor_txt');
                    const editorial_txt = document.createElement('editorial_txt');
                    const año_publicacion_txt = document.createElement('año_publicacion_txt');
                    const nro_paginas_txt = document.createElement('nro_paginas_txt');
                    const genero_txt = document.createElement('genero_txt')
                    const sipnosis_txt = document.createElement('sipnosis_txt')
                    const imagen_txt = document.createElement('imagen_txt')

                    //crear cadenas de texto
                    
                    nombre_libro_txt.innerHTML = responseJson['nombre_libro_txt']
                    autor_txt.innerHTML = responseJson['autor_txt']
                    editorial_txt.innerHTML = responseJson['editorial_txt']
                    año_publicacion_txt.innerHTML = responseJson['año_publicacion_txt']
                    nro_paginas_txt.innerHTML = responseJson['nro_paginas_txt']
                    genero_txt.innerHTML = responseJson['genero_txt']
                    sipnosis_txt.innerHTML = responseJson['sipnosis_txt']
                    imagen_txt.innerHTML = responseJson['imagen_txt']

                    //concatenar
                    //document.getElementById('usuarios').appendChild(nombre_usuario_txt);   
                    document.getElementById('error').className = 'hidden';

                    //eliminar casillas

                    document.getElementById('nombre_libro').value = '';;
                    document.getElementById('autor').value = '';;
                    document.getElementById('editorial').value = '';;
                    document.getElementById('año_publicacion').value = '';;
                    document.getElementById('nro_paginas').value = '';;
                    document.getElementById('genero').value = '';;
                    document.getElementById('sinopsis').value = '';;
                    document.getElementById('imagen').value = '';;
                    

                }).catch(function() {
                    //document.getElementById('error').className='className';
                });
            };
        </script>
    </body>
</hmtl>
